In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_file = pd.read_csv("/home/sanjay/Downloads/id - Sheet.csv", header= None   )
data_file.rename(columns={0:'Id', 1: 'Name'}, inplace= True)

data_file

In [ ]:
var_1 = data_file.loc[:,["Id" ]]

In [ ]:
data_url = pd.read_html("http://www.nepalstock.com/main/stockwiseprices/index/2/?startDate=2000-01-17&endDate=&stock-symbol=131&_limit=20000000")

In [ ]:
data_url

In [ ]:
l = data_url.count
a =data_url[0].columns[0:10]

In [ ]:


dataset = pd.array(data_url)
#for i in range(len(dataset)):
#    print(dataset[i][0],dataset[i][1], "\n\r")
    #print(dataset[i][0])

started = False
for rows in dataset:
    #print(type(row.values))
    #continue
    #for row in rows:
    columns = rows.values
    
    for column in columns:
        #if column == "S.N.":
        #    started = True
        print(column[1])
    
        #sql = "INSERT INTO ohlc VALUES(NULL," + column[3] + "," + column[5]
        #statement.query(sql).execute()
        if( started ):
            print(column)
    print("\r\n")

In [ ]:
import mysql.connector
from mysql.connector import Error

In [ ]:
try:
    DataBase = mysql.connector.connect(host ="localhost", 
                                        user = "root",
                                        password = "Manandhar123$",
                                        database ="testdb")
                                        

    if DataBase.is_connected():
        db_info = DataBase.get_server_info()
        print("My sql is conncected", db_info)
        cursor = DataBase.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Record is executed", record)

except Error as e:
    print("Error is happening", e)
    
finally:
    if DataBase.is_connected():
       # cursor.close()
       # Database.close()
        print("Mysql is connected")

In [39]:
dataset = pd.array(data_url)
#for i in range(len(dataset)):
#    print(dataset[i][0],dataset[i][1], "\n\r")
    #print(dataset[i][0])
for rows in dataset:
    #print(type(row.values))
    #continue
    #for row in rows:
    columns = rows.values
    
    for column in columns:
        #if column == "S.N.":
        #    started = True
        print(column[0])
        insert_ohlc_data = '''INSERT INTO ohlc(company_id) VALUES (column[0]);'''
        with DataBase.cursor() as cursor:
            cursor.execute(insert_ohlc_data)
            DataBase.commit()
        #sql = "INSERT INTO ohlc VALUES(NULL," + column[3] + "," + column[5]
        #statement.query(sql).execute()
    print("\r\n")

Nabil Bank Limited Start Date  End Date  Stock Symbol  ACLBSLADBLADBLBADBLD83AHPCAILAKBSLAKBSLPAKJCLAKPLALBSLALICLALICLPAMFIAMFIPOAPIAVUBARUNBBCBFCBFCPOBFLPOBHBLBHBLPOBNLBNTBOKD2079BOKLBOKLPOBPCLBSBLPOBSLBSMCBBLCBBLPOCBLCBLPOCCBLCCBLPOCEFLCEFLPOCFCLCFCLPOCFLCGHCHCLCHDCCHLCITCIZBD86CLBSLCLBSLPCMBCMBFLPCMF1CMF2CORBLCORBLPCZBILCZBILPDDBLDDBLPODHPLEBLEBLCPEBLD2078EBLPOEDBLEDBLPOEICEICPOFBBLPOFHLFMDBLFMDBLPFOWADFOWADPGBBLGBBLPOGBD80/81GBILD86/87GBIMEGBIMEPGBLBSGBLBSPGDBLGDBLPOGFCLGFCLPOGGBSLGHLGICGILBGILBPOGIMES1GLBSLGLHGLICLGLICLPGMFBSGMFILGMFILPGRDBLGRDBLPGRUGUFLGUFLPOGWFD83HAMROHAMROPHATHHATHPOHBLHBLD83HBLPOHBTHDHPCHDLHFLHGIHGIPOHIDCLHPPLHURJAICFCICFCD83ICFCPOIGIIGIPOILBSJBBLJBBLPOJBLBJBNLJBNLPOJFLJFLPOJLIJOSHIJSLBBJSLBBPJSMKBLKBLD86KBLPOKEFKKHCKLBSLKLBSLPKMCDBKMCDBPKNBLKNBLPOKPCLKRBLKRBLPOKSBBLKSBBLD87KSBBLPLBBLLBBLPOLBLLBLD86LBLD88LBLPOLECLEMFLFCLFCPOLGILLGILPOLICNLICNPOLLBSLLBSPOLUKMBLMBLD2085MBLD87MBLPOMDBMDBLPOMDBPOMEGAMEGAPOMENMEROMEROPOMFILMFILPOMFLD85MHNLMKJCMKLBMLBBLMLBBLPMLBLMLBLPOMLBSMLBSLMMFDBMMFDBPMNBBLMNBBLPMPFLMPFLPOMSLBMSLBPMSMBSMSMBSPNABBCNABILNABILPNADEPNADEPPNAGRONBBNBBD2085NBBPONBBUNBF2NBLNBLD82NBLD87NCCBNCCBPONCCD86NEFNFDNFSNFSPONGPLNHDLNHPCNIBNIBD2082NIBD84NIBLPFNIBPONIBSF1NIBSF2NICANICAD 85/86NICAD8182NICAD8283NICAPNICBFNICD83/84NICD88NICGFNICLNICLBSLNICLPONICSFNIDCNIDCPONIFRANILNILPONKUNLBBLNLBBLPNLGNLGPONLICNLICLNLICLPNLICPNLONMBNMB50NMBD2085NMBD87/88NMBEB92/93NMBHF1NMBMFNMBMFPNMBPONMFBSNMFBSPNRICNRNNSEWANSEWAPNSLBNSLBPNSMNSMPONTCNTLNUBLNUBLPONVGNWCODBLODBLPOOHLPBD85PBLD84PBLD86PCBLPCBLPPDBLPOPFLPFLPOPICPICLPICLPOPICPOPLIPLICPLICPOPMHPLPPCLPRFLPOPRINPRINPOPROFLPROFLPPRVUPRVUPOPSDBLPPSFRADHIRBBD83RBCLRBCLPORHPCRHPLRJMRLFLRLFLPORLIRMBFPORMDCRMDCPORMF1RRHPRSDCRSDCPRURUSABSLSADBLSADBLPSAEFSAMAJSAND2085SANIMASAPDBLSAPDBLPSBBLJSBBLJPSBCFSBD87SBISBIBD86SBIPOSBLSBLD2082SBLD83SBLD84SBLPOSBPPSCBSCBPOSDBD87SDESISDLBSLSEFSEOSSFCSFCLSFCLPSFCPOSFFILSFFILPSFMFSGISHBLSHBLPOSHELSHINESHINEPSHIVMSHLSHPCSICSICLSICLPOSICPOSIFCSIFCPOSIGS2SILSILPOSINDUSINDUPSJCLSKBBLSKBBLPSLBBLSLBBLPSLBSSLBSLSLBSPSLCFSLISLICLSLICLPSMATASMATAPSMBSMBPOSMFBSSMFDBSMFDBPSODBLPSPARSSPDLSRBLSRBLD83SRBLPOSRD80SRSSSHLSTCSWBBLSWBBLPSYFLSYFLPOTMDBLTMDBLPTRHUFLUFLPOUICUICPOULIUMHLUMRHUNHPLUNLUPCLUPPERUSLBUSLBPVLBSVLBSPOWOMIWOMIPOYHL |  Total Rows  20 50 200 300 500  |

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'column[0])' at line 1