In [1]:
import pandas as pd
import numpy as np

In [2]:
data_file = pd.read_csv("/home/sanja/Downloads/id - Sheet.csv", header= None   )
data_file.rename(columns={0:'Id', 1: 'Name'}, inplace= True)

data_file

       Id   Name
0     131  NABIL
1     132    NIB
2     133    SCB
3     134    NaN
4     135    SBI
..    ...    ...
421  2914   UMRH
422  2915    PLI
423  2917    CGH
424  2919  NIFRA
425   156    BBC

[426 rows x 2 columns]

In [3]:
var_1 = data_file.loc[:,["Id" ]]

In [4]:
data_url = pd.read_html("http://www.nepalstock.com/main/stockwiseprices/index/2/?startDate=2000-01-17&endDate=&stock-symbol=131&_limit=20000000")

In [5]:
data_url

[                                                      0  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                                  S.N.
 2                                                     1
 3                                                     2
 4                                                     3
 ...                                                 ...
 2618                                               2617
 2619                                               2618
 2620                                               2619
 2621                                               2620
 2622                                         Page 1/1 1

                                                       1  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                                  Date
 2                                            2021-11-17
 3                                            2021-11-16
 4                                            2021-11-15
 ...                                                 ...
 2618                                         2010-04-19
 2619                                         2010-04-15
 2620                                         2010-04-15
 2621                                         2010-04-15
 2622                                         Page 1/1 1

                                                       2  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                    Total Transactions
 2                                                  1323
 3                                                  1164
 4                                                  1537
 ...                                                 ...
 2618                                                 18
 2619                                                 40
 2620                                                 40
 2621                                                 40
 2622                                         Page 1/1 1

                                                       3  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                   Total Traded Shares
 2                                              99187.00
 3                                              74044.00
 4                                             104146.00
 ...                                                 ...
 2618                                            1774.00
 2619                                            3464.00
 2620                                            3464.00
 2621                                            3464.00
 2622                                         Page 1/1 1

                                                       4  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                   Total Traded Amount
 2                                          154429470.80
 3                                          115229721.70
 4                                          161517790.60
 ...                                                 ...
 2618                                         3549542.00
 2619                                         6935470.00
 2620                                         6935470.00
 2621                                         6935470.00
 2622                                         Page 1/1 1

                                                       5  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                            Max. Price
 2                                               1570.00
 3                                               1565.00
 4                                               1576.00
 ...                                                 ...
 2618                                            2039.00
 2619                                            2040.00
 2620                                            2040.00
 2621                                            2040.00
 2622                                         Page 1/1 1

                                                       6  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                            Min. Price
 2                                               1548.00
 3                                               1546.10
 4                                               1540.00
 ...                                                 ...
 2618                                            2000.00
 2619                                            2000.00
 2620                                            2000.00
 2621                                            2000.00
 2622                                         Page 1/1 1

                                                       7  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                           Close Price
 2                                               1556.00
 3                                               1559.00
 4                                               1540.00
 ...                                                 ...
 2618                                            2001.00
 2619                                            2000.00
 2620                                            2000.00
 2621                                            2000.00
 2622                                                NaN

                                                       8  \
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 2618                                                NaN
 2619                                                NaN
 2620                                                NaN
 2621                                                NaN
 2622                                                NaN

                                                       9
 0     Nabil Bank Limited Start Date  End Date  Stock...
 1                                                   NaN
 2                                                   NaN
 3                                                   NaN
 4                                                   NaN
 ...                                                 ...
 2618                                                NaN
 2619                                                NaN
 2620                                                NaN
 2621                                                NaN
 2622                                                NaN

 [2623 rows x 10 columns]]

In [6]:
data_url[0]

,0,1,2,3,4,5,6,7,8,9
0,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...,Nabil Bank Limited Start Date End Date Stock...
1,S.N.,Date,Total Transactions,Total Traded Shares,Total Traded Amount,Max. Price,Min. Price,Close Price,NaN,NaN
2,1,2021-11-17,1323,99187.00,154429470.80,1570.00,1548.00,1556.00,NaN,NaN
3,2,2021-11-16,1164,74044.00,115229721.70,1565.00,1546.10,1559.00,NaN,NaN
4,3,2021-11-15,1537,104146.00,161517790.60,1576.00,1540.00,1540.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2618,2617,2010-04-19,18,1774.00,3549542.00,2039.00,2000.00,2001.00,NaN,NaN
2619,2618,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00,NaN,NaN
2620,2619,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00,NaN,NaN
2621,2620,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00,NaN,NaN
2622,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,NaN,NaN,NaN

In [8]:
df = pd.DataFrame(data_url[0])

In [18]:
df.drop(labels= 0, inplace= True)

In [19]:
df.drop(columns = [8,9], inplace= True)

In [30]:
df.rename(columns= {0: 'S.N.', 1: 'Date', 2: 'Total Transactions', 3: 'Total Traded shares', 4:'Total Traded Amount ', 5:'Max.Price',6: 'Min.Price', 7:'Close Price'}, inplace= True)

In [26]:
df.drop(labels= 1, inplace= True)

In [32]:
df.set_index('S.N.')

,Date,Total Transactions,Total Traded shares,Total Traded Amount,Max.Price,Min.Price,Close Price
S.N.,,,,,,,
1,2021-11-17,1323,99187.00,154429470.80,1570.00,1548.00,1556.00
2,2021-11-16,1164,74044.00,115229721.70,1565.00,1546.10,1559.00
3,2021-11-15,1537,104146.00,161517790.60,1576.00,1540.00,1540.00
4,2021-11-14,1561,107590.00,166765368.90,1575.00,1540.00,1548.00
5,2021-11-11,2636,199932.00,310857416.40,1580.00,1540.00,1550.00
...,...,...,...,...,...,...,...
2617,2010-04-19,18,1774.00,3549542.00,2039.00,2000.00,2001.00
2618,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00
2619,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00
2620,2010-04-15,40,3464.00,6935470.00,2040.00,2000.00,2000.00
Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,Page 1/1 1,NaN

In [33]:
df.to_csv("Nabil_Bank", index= None)

In [ ]:
l = data_url.count
a =data_url[0].columns[0:10]

In [15]:


dataset = pd.array(data_url)
#for i in range(len(dataset)):
#    print(dataset[i][0],dataset[i][1], "\n\r")
    #print(dataset[i][0])

started = False
for rows in dataset:
    #print(type(row.values))
    #continue
    #for row in rows:
    columns = rows.values
    
    for column in columns:
        #if column == "S.N.":
        #    started = True
        print(column[1])
    
        #sql = "INSERT INTO ohlc VALUES(NULL," + column[3] + "," + column[5]
        #statement.query(sql).execute()
        if( started ):
            print(column)
    print("\r\n")

Nabil Bank Limited Start Date  End Date  Stock Symbol  ACLBSLADBLADBLBADBLD83AHPCAILAKBSLAKBSLPAKJCLAKPLALBSLALICLALICLPAMFIAMFIPOAPIAVUBARUNBBCBFCBFCPOBFLPOBHBLBHBLPOBNLBNTBOKD2079BOKLBOKLPOBPCLBSBLPOBSLBSMCBBLCBBLPOCBLCBLPOCCBLCCBLPOCEFLCEFLPOCFCLCFCLPOCFLCGHCHCLCHDCCHLCITCIZBD86CLBSLCLBSLPCMBCMBFLPCMF1CMF2CORBLCORBLPCZBILCZBILPDDBLDDBLPODHPLEBLEBLCPEBLD2078EBLPOEDBLEDBLPOEICEICPOFBBLPOFHLFMDBLFMDBLPFOWADFOWADPGBBLGBBLPOGBD80/81GBILD86/87GBIMEGBIMEPGBLBSGBLBSPGDBLGDBLPOGFCLGFCLPOGGBSLGHLGICGILBGILBPOGIMES1GLBSLGLHGLICLGLICLPGMFBSGMFILGMFILPGRDBLGRDBLPGRUGUFLGUFLPOGWFD83HAMROHAMROPHATHHATHPOHBLHBLD83HBLPOHBTHDHPCHDLHFLHGIHGIPOHIDCLHPPLHURJAICFCICFCD83ICFCPOIGIIGIPOILBSJBBLJBBLPOJBLBJBNLJBNLPOJFLJFLPOJLIJOSHIJSLBBJSLBBPJSMKBLKBLD86KBLPOKEFKKHCKLBSLKLBSLPKMCDBKMCDBPKNBLKNBLPOKPCLKRBLKRBLPOKSBBLKSBBLD87KSBBLPLBBLLBBLPOLBLLBLD86LBLD88LBLPOLECLEMFLFCLFCPOLGILLGILPOLICNLICNPOLLBSLLBSPOLUKMBLMBLD2085MBLD87MBLPOMDBMDBLPOMDBPOMEGAMEGAPOMENMEROMEROPOMFILMFILPOMFLD85MHNLMKJCMKLBMLBBLMLBBLPMLBLMLBLPOMLBSMLBSLMMFDBMMFDBPMNBBLMNBBLPMPFLMPFLPOMSLBMSLBPMSMBSMSMBSPNABBCNABILNABILPNADEPNADEPPNAGRONBBNBBD2085NBBPONBBUNBF2NBLNBLD82NBLD87NCCBNCCBPONCCD86NEFNFDNFSNFSPONGPLNHDLNHPCNIBNIBD2082NIBD84NIBLPFNIBPONIBSF1NIBSF2NICANICAD 85/86NICAD8182NICAD8283NICAPNICBFNICD83/84NICD88NICGFNICLNICLBSLNICLPONICSFNIDCNIDCPONIFRANILNILPONKUNLBBLNLBBLPNLGNLGPONLICNLICLNLICLPNLICPNLONMBNMB50NMBD2085NMBD87/88NMBEB92/93NMBHF1NMBMFNMBMFPNMBPONMFBSNMFBSPNRICNRNNSEWANSEWAPNSLBNSLBPNSMNSMPONTCNTLNUBLNUBLPONVGNWCODBLODBLPOOHLPBD85PBLD84PBLD86PCBLPCBLPPDBLPOPFLPFLPOPICPICLPICLPOPICPOPLIPLICPLICPOPMHPLPPCLPRFLPOPRINPRINPOPROFLPROFLPPRVUPRVUPOPSDBLPPSFRADHIRBBD83RBCLRBCLPORHPCRHPLRJMRLFLRLFLPORLIRMBFPORMDCRMDCPORMF1RRHPRSDCRSDCPRURUSABSLSADBLSADBLPSAEFSAMAJSAND2085SANIMASAPDBLSAPDBLPSBBLJSBBLJPSBCFSBD87SBISBIBD86SBIPOSBLSBLD2082SBLD83SBLD84SBLPOSBPPSCBSCBPOSDBD87SDESISDLBSLSEFSEOSSFCSFCLSFCLPSFCPOSFFILSFFILPSFMFSGISHBLSHBLPOSHELSHINESHINEPSHIVMSHLSHPCSICSICLSICLPOSICPOSIFCSIFCPOSIGS2SILSILPOSINDUSINDUPSJCLSKBBLSKBBLPSLBBLSLBBLPSLBSSLBSLSLBSPSLCFSLISLICLSLICLPSMATASMATAPSMBSMBPOSMFBSSMFDBSMFDBPSODBLPSPARSSPDLSRBLSRBLD83SRBLPOSRD80SRSSSHLSTCSWBBLSWBBLPSYFLSYFLPOTMDBLTMDBLPTRHUFLUFLPOUICUICPOULIUMHLUMRHUNHPLUNLUPCLUPPERUSLBUSLBPVLBSVLBSPOWOMIWOMIPOYHL |  Total Rows  20 50 200 300 500  |
Date
2021-10-28
2021-10-27
2021-10-26
2021-10-25
2021-10-24
2021-10-21
2021-10-20
2021-10-19
2021-10-18
2021-10-17
2021-10-11
2021-10-10
2021-10-06
2021-10-05
2021-10-04
2021-10-03
2021-09-30
2021-09-29
2021-09-28
2021-09-27
2021-09-26
2021-09-23
2021-09-22
2021-09-21
2021-09-20
2021-09-16
2021-09-15
2021-09-14
2021-09-13
2021-09-12
2021-09-09
2021-09-08
2021-09-07
2021-09-06
2021-09-05
2021-09-02
2021-09-01
2021-08-31
2021-08-29
2021-08-26
2021-08-25
2021-08-24
2021-08-19
2021-08-18
2021-08-17
2021-08-16
2021-08-15
2021-08-12
2021-08-11
2021-08-10
2021-08-09
2021-08-08
2021-08-05
2021-08-04
2021-08-03
2021-08-02
2021-08-01
2021-07-29
2021-07-28
2021-07-27
2021-07-26
2021-07-25
2021-07-22
2021-07-20
2021-07-19
2021-07-18
2021-07-15
2021-07-14
2021-07-13
2021-07-12
2021-07-11
2021-07-08
2021-07-07
2021-07-06
2021-07-05
2021-07-04
2021-07-01
2021-06-30
2021-06-29
2021-06-28
2021-06-27
2021-06-24
2021-06-23
2021-06-22
2021-06-21
2021-06-20
2021-06-17
2021-06-16
2021-06-15
2021-06-14
2021-06-13
2021-06-10
2021-06-09
2021-06-08
2021-06-07
2021-06-06
2021-06-03
2021-06-02
2021-06-01
2021-05-31
2021-05-30
2021-05-27
2021-05-25
2021-05-24
2021-05-23
2021-05-20
2021-05-19
2021-05-18
2021-05-17
2021-05-16
2021-05-13
2021-05-12
2021-05-11
2021-05-10
2021-05-09
2021-05-06
2021-05-05
2021-05-04
2021-05-03
2021-05-02
2021-04-29
2021-04-28
2021-04-27
2021-04-26
2021-04-25
2021-04-22
2021-04-21
2021-04-20
2021-04-19
2021-04-18
2021-04-15
2021-04-13
2021-04-12
2021-04-08
2021-04-07
2021-04-06
2021-04-05
2021-04-04
2021-04-01
2021-03-31
2021-03-30
2021-03-29
2021-03-25
2021-03-24
2021-03-23
2021-03-22
2021-03-21
2021-03-18
2021-03-17
2021-03-16
2021-03-15
2021-03-14
2021-03-10
2021-03-09
2021-03-07
2021-03-04
2021-03-03
2021-03-02
2021-03-01
2021-02-28
2021-02-25
2021-02-24
2021-02-23
2021-02-22
2021-02-21
2021-02-18
2021-02-17
2021-02-16
2021-02-15
2021-02-14
2021-02-11
2021-02-10
2021-02-09
2021-02-08
2021-02-07
2021-02-04
2021-02-03
2021-02-02
2021-02-01
2021-01-31
2021-01-28
2021-01-27
2021-01-26
2021-01-25
2021-01-24
2021-01-21
2021-01-20
2021-01-19
2021-01-18
2021-01-17
2021-01-13
2021-01-12
2021-01-11
2021-01-10
2021-01-07
2021-01-06
2021-01-05
2021-01-04
2021-01-03
2020-12-31
2020-12-30
2020-12-29
2020-12-28
2020-12-27
2020-12-24
2020-12-23
2020-12-22
2020-12-21
2020-12-20
2020-12-17
2020-12-16
2020-12-15
2020-12-14
2020-12-13
2020-12-10
2020-12-09
2020-12-08
2020-12-07
2020-12-06
2020-12-03
2020-12-02
2020-12-01
2020-11-30
2020-11-29
2020-11-26
2020-11-25
2020-11-24
2020-11-23
2020-11-22
2020-11-19
2020-11-18
2020-11-12
2020-11-11
2020-11-10
2020-11-09
2020-11-08
2020-11-05
2020-11-04
2020-11-03
2020-11-02
2020-11-01
2020-10-29
2020-10-28
2020-10-22
2020-10-21
2020-10-20
2020-10-19
2020-10-18
2020-10-15
2020-10-14
2020-10-13
2020-10-12
2020-10-11
2020-10-08
2020-10-07
2020-10-06
2020-10-05
2020-10-04
2020-10-01
2020-09-30
2020-09-29
2020-09-28
2020-09-27
2020-09-24
2020-09-23
2020-09-22
2020-09-21
2020-09-20
2020-09-17
2020-09-16
2020-09-15
2020-09-14
2020-09-13
2020-09-10
2020-09-09
2020-09-08
2020-09-07
2020-09-06
2020-09-03
2020-09-02
2020-08-31
2020-08-30
2020-08-27
2020-08-26
2020-08-25
2020-08-24
2020-08-23
2020-08-20
2020-08-19
2020-08-18
2020-08-17
2020-08-16
2020-08-13
2020-08-12
2020-08-11
2020-08-10
2020-08-09
2020-08-06
2020-08-05
2020-08-03
2020-08-02
2020-07-30
2020-07-29
2020-07-28
2020-07-27
2020-07-26
2020-07-23
2020-07-22
2020-07-21
2020-07-20
2020-07-19
2020-07-16
2020-07-15
2020-07-14
2020-07-13
2020-07-12
2020-07-09
2020-07-08
2020-07-07
2020-07-06
2020-07-05
2020-07-02
2020-07-01
2020-06-30
2020-06-29
2020-05-13
2020-05-12
2020-03-22
2020-03-19
2020-03-18
2020-03-17
2020-03-16
2020-03-15
2020-03-12
2020-03-11
2020-03-10
2020-03-05
2020-03-04
2020-03-03
2020-03-02
2020-03-01
2020-02-27
2020-02-26
2020-02-25
2020-02-24
2020-02-23
2020-02-20
2020-02-19
2020-02-18
2020-02-17
2020-02-16
2020-02-13
2020-02-12
2020-02-11
2020-02-10
2020-02-09
2020-02-06
2020-02-05
2020-02-04
2020-02-03
2020-02-02
2020-01-30
2020-01-29
2020-01-28
2020-01-27
2020-01-26
2020-01-23
2020-01-22
2020-01-21
2020-01-20
2020-01-19
2020-01-16
2020-01-15
2020-01-14
2020-01-13
2020-01-12
2020-01-09
2020-01-08
2020-01-07
2020-01-06
2020-01-05
2020-01-02
2020-01-01
2019-12-31
2019-12-30
2019-12-29
2019-12-26
2019-12-25
2019-12-24
2019-12-23
2019-12-22
2019-12-19
2019-12-18
2019-12-17
2019-12-16
2019-12-15
2019-12-12
2019-12-11
2019-12-10
2019-12-09
2019-12-08
2019-12-05
2019-12-04
2019-12-03
2019-12-02
2019-12-01
2019-11-28
2019-11-27
2019-11-26
2019-11-25
2019-11-24
2019-11-21
2019-11-20
2019-11-19
2019-11-18
2019-11-17
2019-11-14
2019-11-13
2019-11-12
2019-11-11
2019-11-10
2019-11-07
2019-11-06
2019-11-05
2019-11-04
2019-11-03
2019-10-31
2019-10-24
2019-10-23
2019-10-22
2019-10-21
2019-10-20
2019-10-17
2019-10-16
2019-10-15
2019-10-14
2019-10-10
2019-10-03
2019-10-02
2019-10-01
2019-09-30
2019-09-29
2019-09-26
2019-09-25
2019-09-24
2019-09-23
2019-09-22
2019-09-19
2019-09-18
2019-09-17
2019-09-16
2019-09-15
2019-09-12
2019-09-11
2019-09-10
2019-09-10
2019-09-09
2019-09-08
2019-09-05
2019-09-04
2019-09-03
2019-09-02
2019-09-01
2019-08-29
2019-08-28
2019-08-27
2019-08-26
2019-08-25
2019-08-22
2019-08-21
2019-08-20
2019-08-19
2019-08-18
2019-08-15
2019-08-14
2019-08-13
2019-08-12
2019-08-11
2019-08-08
2019-08-07
2019-08-06
2019-08-05
2019-08-04
2019-08-01
2019-07-31
2019-07-30
2019-07-29
2019-07-28
2019-07-25
2019-07-24
2019-07-23
2019-07-22
2019-07-21
2019-07-18
2019-07-17
2019-07-16
2019-07-15
2019-07-14
2019-07-11
2019-07-10
2019-07-09
2019-07-08
2019-07-07
2019-07-04
2019-07-03
2019-07-02
2019-07-01
2019-06-30
2019-06-27
2019-06-26
2019-06-25
2019-06-24
2019-06-23
2019-06-20
2019-06-19
2019-06-18
2019-06-17
2019-06-16
2019-06-13
2019-06-12
2019-06-11
2019-06-10
2019-06-06
2019-06-04
2019-06-03
2019-06-02
2019-05-30
2019-05-29
2019-05-28
2019-05-27
2019-05-26
2019-05-23
2019-05-22
2019-05-21
2019-05-20
2019-05-19
2019-05-16
2019-05-15
2019-05-14
2019-05-13
2019-05-12
2019-05-09
2019-05-08
2019-05-07
2019-05-06
2019-05-05
2019-05-02
2019-04-30
2019-04-29
2019-04-28
2019-04-25
2019-04-24
2019-04-23
2019-04-22
2019-04-21
2019-04-18
2019-04-17
2019-04-16
2019-04-15
2019-04-11
2019-04-10
2019-04-09
2019-04-08
2019-04-07
2019-04-04
2019-04-03
2019-04-02
2019-04-01
2019-03-31
2019-03-28
2019-03-27
2019-03-26
2019-03-25
2019-03-24
2019-03-21
2019-03-19
2019-03-18
2019-03-17
2019-03-14
2019-03-13
2019-03-12
2019-03-11
2019-03-10
2019-03-07
2019-03-06
2019-03-05
2019-03-03
2019-02-27
2019-02-26
2019-02-25
2019-02-24
2019-02-21
2019-02-20
2019-02-19
2019-02-18
2019-02-17
2019-02-14
2019-02-13
2019-02-12
2019-02-11
2019-02-10
2019-02-07
2019-02-06
2019-02-05
2019-02-04
2019-02-03
2019-01-31
2019-01-30
2019-01-29
2019-01-28
2019-01-27
2019-01-24
2019-01-23
2019-01-22
2019-01-21
2019-01-20
2019-01-17
2019-01-16
2019-01-15
2019-01-14
2019-01-13
2019-01-10
2019-01-09
2019-01-08
2019-01-07
2019-01-06
2019-01-03
2019-01-02
2019-01-01
2018-12-31
2018-12-30
2018-12-27
2018-12-26
2018-12-25
2018-12-24
2018-12-23
2018-12-20
2018-12-19
2018-12-18
2018-12-17
2018-12-16
2018-12-13
2018-12-12
2018-12-11
2018-12-10
2018-12-09
2018-12-06
2018-12-05
2018-12-04
2018-12-03
2018-12-02
2018-11-29
2018-11-28
2018-11-27
2018-11-26
2018-11-25
2018-11-22
2018-11-21
2018-11-20
2018-11-19
2018-11-18
2018-11-15
2018-11-14
2018-11-13
2018-11-12
2018-11-11
2018-11-06
2018-11-05
2018-11-04
2018-11-01
2018-10-31
2018-10-30
2018-10-29
2018-10-28
2018-10-25
2018-10-24
2018-10-23
2018-10-22
2018-10-21
2018-10-15
2018-10-14
2018-10-11
2018-10-10
2018-10-09
2018-10-08
2018-10-07
2018-10-04
2018-10-03
2018-10-02
2018-10-01
2018-09-30
2018-09-27
2018-09-26
2018-09-25
2018-09-23
2018-09-20
2018-09-18
2018-09-17
2018-09-16
2018-09-13
2018-09-12
2018-09-11
2018-09-10
2018-09-09
2018-09-06
2018-09-05
2018-09-04
2018-09-03
2018-09-02
2018-08-30
2018-08-29
2018-08-28
2018-08-26
2018-08-23
2018-08-22
2018-08-21
2018-08-20
2018-08-19
2018-08-16
2018-08-15
2018-08-14
2018-08-13
2018-08-12
2018-08-09
2018-08-08
2018-08-07
2018-08-06
2018-08-05
2018-08-02
2018-08-01
2018-07-31
2018-07-30
2018-07-29
2018-07-26
2018-07-25
2018-07-24
2018-07-23
2018-07-22
2018-07-19
2018-07-18
2018-07-17
2018-07-16
2018-07-15
2018-07-12
2018-07-11
2018-07-10
2018-07-09
2018-07-08
2018-07-05
2018-07-04
2018-07-03
2018-07-02
2018-07-01
2018-06-28
2018-06-27
2018-06-26
2018-06-25
2018-06-24
2018-06-21
2018-06-20
2018-06-19
2018-06-18
2018-06-17
2018-06-14
2018-06-13
2018-06-12
2018-06-11
2018-06-10
2018-06-07
2018-06-06
2018-06-04
2018-06-03
2018-05-31
2018-05-30
2018-05-29
2018-05-28
2018-05-27
2018-05-24
2018-05-23
2018-05-22
2018-05-21
2018-05-20
2018-05-17
2018-05-16
2018-05-15
2018-05-14
2018-05-10
2018-05-09
2018-05-08
2018-05-07
2018-05-06
2018-05-03
2018-05-02
2018-04-29
2018-04-26
2018-04-25
2018-04-24
2018-04-23
2018-04-22
2018-04-19
2018-04-18
2018-04-17
2018-04-16
2018-04-15
2018-04-12
2018-04-11
2018-04-10
2018-04-09
2018-04-08
2018-04-05
2018-04-04
2018-04-03
2018-04-02
2018-04-01
2018-03-29
2018-03-28
2018-03-27
2018-03-26
2018-03-22
2018-03-21
2018-03-20
2018-03-19
2018-03-18
2018-03-15
2018-03-14
2018-03-13
2018-03-12
2018-03-11
2018-03-07
2018-03-06
2018-03-05
2018-03-04
2018-02-28
2018-02-27
2018-02-26
2018-02-25
2018-02-22
2018-02-21
2018-02-20
2018-02-18
2018-02-15
2018-02-14
2018-02-12
2018-02-11
2018-02-08
2018-02-07
2018-02-06
2018-02-05
2018-02-04
2018-02-01
2018-01-31
2018-01-29
2018-01-28
2018-01-25
2018-01-24
2018-01-23
2018-01-22
2018-01-21
2018-01-17
2018-01-16
2018-01-14
2018-01-10
2018-01-09
2018-01-08
2018-01-07
2018-01-04
2018-01-03
2018-01-02
2018-01-01
2017-12-31
2017-12-28
2017-12-27
2017-12-26
2017-12-24
2017-12-21
2017-12-20
2017-12-19
2017-12-18
2017-12-17
2017-12-14
2017-12-13
2017-12-12
2017-12-11
2017-12-10
2017-12-06
2017-12-05
2017-12-04
2017-11-30
2017-11-29
2017-11-28
2017-11-27
2017-11-26
2017-11-23
2017-11-22
2017-11-21
2017-11-20
2017-11-19
2017-11-16
2017-11-15
2017-11-14
2017-11-13
2017-11-12
2017-11-09
2017-11-08
2017-11-07
2017-11-06
2017-11-05
2017-11-02
2017-11-01
2017-10-31
2017-10-30
2017-10-29
2017-10-25
2017-10-24
2017-10-23
2017-10-22
2017-10-18
2017-10-17
2017-10-16
2017-10-15
2017-10-12
2017-10-11
2017-10-10
2017-10-09
2017-10-08
2017-10-04
2017-10-03
2017-09-26
2017-09-25
2017-09-24
2017-09-20
2017-09-18
2017-09-17
2017-09-14
2017-09-13
2017-09-12
2017-09-11
2017-09-10
2017-09-07
2017-09-06
2017-09-04
2017-08-31
2017-08-30
2017-08-28
2017-08-27
2017-08-24
2017-08-23
2017-08-22
2017-08-21
2017-08-20
2017-08-17
2017-08-16
2017-08-15
2017-08-13
2017-08-10
2017-08-09
2017-08-07
2017-08-06
2017-08-03
2017-08-02
2017-08-01
2017-07-31
2017-07-30
2017-07-27
2017-07-26
2017-07-25
2017-07-24
2017-07-23
2017-07-20
2017-07-19
2017-07-18
2017-07-17
2017-07-16
2017-07-13
2017-07-12
2017-07-11
2017-07-10
2017-07-09
2017-07-06
2017-07-05
2017-07-04
2017-07-03
2017-07-02
2017-06-28
2017-06-27
2017-06-25
2017-06-22
2017-06-21
2017-06-20
2017-06-19
2017-06-18
2017-06-15
2017-06-14
2017-06-13
2017-06-12
2017-06-11
2017-06-08
2017-06-07
2017-06-06
2017-06-05
2017-06-04
2017-06-01
2017-05-31
2017-05-30
2017-05-28
2017-05-24
2017-05-23
2017-05-22
2017-05-21
2017-05-18
2017-05-17
2017-05-16
2017-05-15
2017-05-11
2017-05-09
2017-05-08
2017-05-07
2017-05-04
2017-05-03
2017-05-02
2017-04-30
2017-04-27
2017-04-26
2017-04-25
2017-04-24
2017-04-23
2017-04-20
2017-04-19
2017-04-18
2017-04-16
2017-04-13
2017-04-12
2017-04-11
2017-04-10
2017-04-09
2017-04-06
2017-04-04
2017-04-03
2017-04-02
2017-03-30
2017-03-29
2017-03-28
2017-03-26
2017-03-23
2017-03-22
2017-03-21
2017-03-20
2017-03-19
2017-03-16
2017-03-15
2017-03-14
2017-03-13
2017-03-09
2017-03-07
2017-03-06
2017-03-05
2017-03-02
2017-03-01
2017-02-28
2017-02-26
2017-02-23
2017-02-22
2017-02-21
2017-02-20
2017-02-19
2017-02-16
2017-02-15
2017-02-14
2017-02-13
2017-02-12
2017-02-09
2017-02-08
2017-02-07
2017-02-06
2017-02-05
2017-02-02
2017-02-01
2017-01-31
2017-01-30
2017-01-26
2017-01-25
2017-01-24
2017-01-23
2017-01-22
2017-01-19
2017-01-18
2017-01-17
2017-01-16
2017-01-15
2017-01-12
2017-01-11
2017-01-10
2017-01-09
2017-01-08
2017-01-05
2017-01-04
2017-01-03
2017-01-02
2017-01-01
2016-12-29
2016-12-28
2016-12-27
2016-12-26
2016-12-22
2016-12-21
2016-12-20
2016-12-19
2016-12-18
2016-12-15
2016-12-14
2016-12-12
2016-12-11
2016-12-08
2016-12-07
2016-12-06
2016-12-05
2016-12-04
2016-12-01
2016-11-30
2016-11-29
2016-11-28
2016-11-27
2016-11-24
2016-11-23
2016-11-22
2016-11-21
2016-11-20
2016-11-17
2016-11-16
2016-11-15
2016-11-14
2016-11-13
2016-11-10
2016-11-09
2016-11-08
2016-11-07
2016-11-03
2016-10-27
2016-10-26
2016-10-25
2016-10-24
2016-10-23
2016-10-20
2016-10-19
2016-10-18
2016-10-17
2016-10-16
2016-10-06
2016-10-05
2016-10-04
2016-10-03
2016-10-02
2016-09-29
2016-09-28
2016-09-27
2016-09-26
2016-09-25
2016-09-22
2016-09-20
2016-09-18
2016-09-14
2016-09-12
2016-09-11
2016-09-08
2016-09-07
2016-09-06
2016-09-05
2016-09-04
2016-09-01
2016-08-31
2016-08-30
2016-08-29
2016-08-28
2016-08-24
2016-08-23
2016-08-22
2016-08-21
2016-08-17
2016-08-16
2016-08-15
2016-08-14
2016-08-11
2016-08-10
2016-08-09
2016-08-08
2016-08-07
2016-08-04
2016-08-03
2016-08-02
2016-08-01
2016-07-31
2016-07-28
2016-07-27
2016-07-26
2016-07-25
2016-07-21
2016-07-20
2016-07-19
2016-07-18
2016-07-17
2016-07-14
2016-07-13
2016-07-12
2016-07-11
2016-07-10
2016-07-06
2016-07-05
2016-07-04
2016-07-03
2016-06-30
2016-06-29
2016-06-28
2016-06-27
2016-06-26
2016-06-23
2016-06-22
2016-06-21
2016-06-20
2016-06-19
2016-06-16
2016-06-15
2016-06-14
2016-06-13
2016-06-12
2016-06-09
2016-06-08
2016-06-07
2016-06-06
2016-06-05
2016-06-02
2016-06-01
2016-05-31
2016-05-30
2016-05-29
2016-05-26
2016-05-25
2016-05-24
2016-05-23
2016-05-22
2016-05-19
2016-05-18
2016-05-17
2016-05-16
2016-05-15
2016-05-12
2016-05-11
2016-05-10
2016-05-09
2016-05-08
2016-05-05
2016-05-04
2016-05-03
2016-05-02
2016-04-28
2016-04-27
2016-04-26
2016-04-25
2016-04-24
2016-04-21
2016-04-20
2016-04-19
2016-04-18
2016-04-17
2016-04-14
2016-04-12
2016-04-11
2016-04-10
2016-04-06
2016-04-05
2016-04-04
2016-04-03
2016-03-31
2016-03-30
2016-03-29
2016-03-28
2016-03-27
2016-03-24
2016-03-23
2016-03-21
2016-03-20
2016-03-17
2016-03-16
2016-03-15
2016-03-14
2016-03-13
2016-03-10
2016-03-06
2016-03-03
2016-03-02
2016-03-01
2016-02-29
2016-02-28
2016-02-25
2016-02-24
2016-02-23
2016-02-22
2016-02-21
2016-02-18
2016-02-17
2016-02-16
2016-02-15
2016-02-14
2016-02-11
2016-02-08
2016-02-07
2016-02-04
2016-02-03
2016-02-02
2016-02-01
2016-01-31
2016-01-28
2016-01-27
2016-01-26
2016-01-25
2016-01-24
2016-01-21
2016-01-20
2016-01-19
2016-01-18
2016-01-17
2016-01-14
2016-01-13
2016-01-12
2016-01-11
2016-01-10
2016-01-07
2016-01-06
2016-01-05
2016-01-04
2016-01-03
2015-12-31
2015-12-29
2015-12-28
2015-12-27
2015-12-24
2015-12-23
2015-12-22
2015-12-21
2015-12-20
2015-12-17
2015-12-16
2015-12-15
2015-12-14
2015-12-13
2015-12-10
2015-12-09
2015-12-08
2015-12-07
2015-12-06
2015-12-03
2015-12-02
2015-12-01
2015-11-30
2015-11-29
2015-11-26
2015-11-25
2015-11-24
2015-11-23
2015-11-22
2015-11-19
2015-11-18
2015-11-16
2015-11-15
2015-11-10
2015-11-09
2015-11-08
2015-11-05
2015-11-04
2015-11-03
2015-11-02
2015-11-01
2015-10-29
2015-10-28
2015-10-27
2015-10-25
2015-10-19
2015-10-18
2015-10-15
2015-10-14
2015-10-11
2015-10-08
2015-10-07
2015-10-06
2015-10-05
2015-10-04
2015-10-01
2015-09-30
2015-09-29
2015-09-28
2015-09-24
2015-09-23
2015-09-22
2015-09-17
2015-09-16
2015-09-15
2015-09-14
2015-09-13
2015-09-10
2015-09-09
2015-09-08
2015-09-07
2015-09-06
2015-09-03
2015-09-02
2015-09-01
2015-08-31
2015-08-27
2015-08-26
2015-08-25
2015-08-24
2015-08-23
2015-08-20
2015-08-19
2015-08-18
2015-08-17
2015-08-16
2015-08-13
2015-08-12
2015-08-11
2015-08-10
2015-08-09
2015-08-06
2015-08-05
2015-08-04
2015-08-03
2015-08-02
2015-07-30
2015-07-29
2015-07-28
2015-07-27
2015-07-26
2015-07-23
2015-07-22
2015-07-16
2015-07-15
2015-07-14
2015-07-13
2015-07-12
2015-07-09
2015-07-08
2015-07-07
2015-07-06
2015-07-05
2015-07-02
2015-07-01
2015-06-30
2015-06-29
2015-06-28
2015-06-25
2015-06-24
2015-06-23
2015-06-22
2015-06-21
2015-06-18
2015-06-17
2015-06-16
2015-06-14
2015-06-11
2015-06-10
2015-06-09
2015-06-08
2015-06-07
2015-06-04
2015-06-03
2015-06-02
2015-06-01
2015-05-31
2015-05-28
2015-05-27
2015-05-26
2015-05-25
2015-04-23
2015-04-22
2015-04-21
2015-04-20
2015-04-19
2015-04-16
2015-04-15
2015-04-13
2015-04-12
2015-04-09
2015-04-08
2015-04-07
2015-04-06
2015-04-05
2015-04-02
2015-04-01
2015-03-31
2015-03-30
2015-03-29
2015-03-26
2015-03-25
2015-03-24
2015-03-23
2015-03-22
2015-03-19
2015-03-18
2015-03-17
2015-03-16
2015-03-15
2015-03-12
2015-03-11
2015-03-10
2015-03-09
2015-03-04
2015-03-03
2015-03-02
2015-03-01
2015-02-26
2015-02-25
2015-02-24
2015-02-23
2015-02-22
2015-02-18
2015-02-16
2015-02-15
2015-02-12
2015-02-11
2015-02-10
2015-02-09
2015-02-08
2015-02-05
2015-02-04
2015-02-03
2015-02-02
2015-02-01
2015-01-29
2015-01-28
2015-01-27
2015-01-26
2015-01-25
2015-01-22
2015-01-20
2015-01-19
2015-01-18
2015-01-14
2015-01-13
2015-01-12
2015-01-11
2015-01-08
2015-01-07
2015-01-06
2015-01-05
2015-01-04
2015-01-01
2014-12-31
2014-12-29
2014-12-28
2014-12-24
2014-12-23
2014-12-22
2014-12-18
2014-12-17
2014-12-16
2014-12-15
2014-12-14
2014-12-11
2014-12-10
2014-12-09
2014-12-08
2014-12-07
2014-12-04
2014-12-03
2014-12-02
2014-12-01
2014-11-30
2014-11-25
2014-11-24
2014-11-23
2014-11-20
2014-11-19
2014-11-18
2014-11-17
2014-11-16
2014-11-13
2014-11-12
2014-11-11
2014-11-10
2014-11-09
2014-11-06
2014-11-05
2014-11-04
2014-11-03
2014-11-02
2014-10-30
2014-10-28
2014-10-27
2014-10-26
2014-10-22
2014-10-21
2014-10-20
2014-10-19
2014-10-16
2014-10-15
2014-10-14
2014-10-13
2014-10-12
2014-10-09
2014-10-08
2014-09-30
2014-09-29
2014-09-28
2014-09-24
2014-09-23
2014-09-22
2014-09-21
2014-09-18
2014-09-17
2014-09-16
2014-09-15

In [ ]:
import mysql.connector
from mysql.connector import Error

In [ ]:
try:
    DataBase = mysql.connector.connect(host ="localhost", 
                                        user = "root",
                                        password = "Manandhar123$",
                                        database ="testdb")
                                        

    if DataBase.is_connected():
        db_info = DataBase.get_server_info()
        print("My sql is conncected", db_info)
        cursor = DataBase.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Record is executed", record)

except Error as e:
    print("Error is happening", e)
    
finally:
    if DataBase.is_connected():
       # cursor.close()
       # Database.close()
        print("Mysql is connected")

In [39]:
dataset = pd.array(data_url)
#for i in range(len(dataset)):
#    print(dataset[i][0],dataset[i][1], "\n\r")
    #print(dataset[i][0])
for rows in dataset:
    #print(type(row.values))
    #continue
    #for row in rows:
    columns = rows.values
    
    for column in columns:
        #if column == "S.N.":
        #    started = True
        print(column[0])
        insert_ohlc_data = '''INSERT INTO ohlc(company_id) VALUES (column[0]);'''
        with DataBase.cursor() as cursor:
            cursor.execute(insert_ohlc_data)
            DataBase.commit()
        #sql = "INSERT INTO ohlc VALUES(NULL," + column[3] + "," + column[5]
        #statement.query(sql).execute()
    print("\r\n")

Nabil Bank Limited Start Date  End Date  Stock Symbol  ACLBSLADBLADBLBADBLD83AHPCAILAKBSLAKBSLPAKJCLAKPLALBSLALICLALICLPAMFIAMFIPOAPIAVUBARUNBBCBFCBFCPOBFLPOBHBLBHBLPOBNLBNTBOKD2079BOKLBOKLPOBPCLBSBLPOBSLBSMCBBLCBBLPOCBLCBLPOCCBLCCBLPOCEFLCEFLPOCFCLCFCLPOCFLCGHCHCLCHDCCHLCITCIZBD86CLBSLCLBSLPCMBCMBFLPCMF1CMF2CORBLCORBLPCZBILCZBILPDDBLDDBLPODHPLEBLEBLCPEBLD2078EBLPOEDBLEDBLPOEICEICPOFBBLPOFHLFMDBLFMDBLPFOWADFOWADPGBBLGBBLPOGBD80/81GBILD86/87GBIMEGBIMEPGBLBSGBLBSPGDBLGDBLPOGFCLGFCLPOGGBSLGHLGICGILBGILBPOGIMES1GLBSLGLHGLICLGLICLPGMFBSGMFILGMFILPGRDBLGRDBLPGRUGUFLGUFLPOGWFD83HAMROHAMROPHATHHATHPOHBLHBLD83HBLPOHBTHDHPCHDLHFLHGIHGIPOHIDCLHPPLHURJAICFCICFCD83ICFCPOIGIIGIPOILBSJBBLJBBLPOJBLBJBNLJBNLPOJFLJFLPOJLIJOSHIJSLBBJSLBBPJSMKBLKBLD86KBLPOKEFKKHCKLBSLKLBSLPKMCDBKMCDBPKNBLKNBLPOKPCLKRBLKRBLPOKSBBLKSBBLD87KSBBLPLBBLLBBLPOLBLLBLD86LBLD88LBLPOLECLEMFLFCLFCPOLGILLGILPOLICNLICNPOLLBSLLBSPOLUKMBLMBLD2085MBLD87MBLPOMDBMDBLPOMDBPOMEGAMEGAPOMENMEROMEROPOMFILMFILPOMFLD85MHNLMKJCMKLBMLBBLMLBBLPMLBLMLBLPOMLBSMLBSLMMFDBMMFDBPMNBBLMNBBLPMPFLMPFLPOMSLBMSLBPMSMBSMSMBSPNABBCNABILNABILPNADEPNADEPPNAGRONBBNBBD2085NBBPONBBUNBF2NBLNBLD82NBLD87NCCBNCCBPONCCD86NEFNFDNFSNFSPONGPLNHDLNHPCNIBNIBD2082NIBD84NIBLPFNIBPONIBSF1NIBSF2NICANICAD 85/86NICAD8182NICAD8283NICAPNICBFNICD83/84NICD88NICGFNICLNICLBSLNICLPONICSFNIDCNIDCPONIFRANILNILPONKUNLBBLNLBBLPNLGNLGPONLICNLICLNLICLPNLICPNLONMBNMB50NMBD2085NMBD87/88NMBEB92/93NMBHF1NMBMFNMBMFPNMBPONMFBSNMFBSPNRICNRNNSEWANSEWAPNSLBNSLBPNSMNSMPONTCNTLNUBLNUBLPONVGNWCODBLODBLPOOHLPBD85PBLD84PBLD86PCBLPCBLPPDBLPOPFLPFLPOPICPICLPICLPOPICPOPLIPLICPLICPOPMHPLPPCLPRFLPOPRINPRINPOPROFLPROFLPPRVUPRVUPOPSDBLPPSFRADHIRBBD83RBCLRBCLPORHPCRHPLRJMRLFLRLFLPORLIRMBFPORMDCRMDCPORMF1RRHPRSDCRSDCPRURUSABSLSADBLSADBLPSAEFSAMAJSAND2085SANIMASAPDBLSAPDBLPSBBLJSBBLJPSBCFSBD87SBISBIBD86SBIPOSBLSBLD2082SBLD83SBLD84SBLPOSBPPSCBSCBPOSDBD87SDESISDLBSLSEFSEOSSFCSFCLSFCLPSFCPOSFFILSFFILPSFMFSGISHBLSHBLPOSHELSHINESHINEPSHIVMSHLSHPCSICSICLSICLPOSICPOSIFCSIFCPOSIGS2SILSILPOSINDUSINDUPSJCLSKBBLSKBBLPSLBBLSLBBLPSLBSSLBSLSLBSPSLCFSLISLICLSLICLPSMATASMATAPSMBSMBPOSMFBSSMFDBSMFDBPSODBLPSPARSSPDLSRBLSRBLD83SRBLPOSRD80SRSSSHLSTCSWBBLSWBBLPSYFLSYFLPOTMDBLTMDBLPTRHUFLUFLPOUICUICPOULIUMHLUMRHUNHPLUNLUPCLUPPERUSLBUSLBPVLBSVLBSPOWOMIWOMIPOYHL |  Total Rows  20 50 200 300 500  |

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'column[0])' at line 1